@media screen and (min-width: 767px){
    .aboutv2-sectionprocess_slider{
        display: inline-flex;
    }
}

.aboutv2-sectionprocess_containerel{
    @media screen and (max-width: 767px){
        width: calc(100% + 50px);
        margin-left: -25px;
        padding: 0px 25px 0px 25px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.aboutv2-sectionfaq_el{
    .aboutv2-sectionfaq_eltext{
        display: none;
    }
    .aboutv2-sectionfaq_elcross{
        
        .aboutv2-sectionfaq_elcrossline{
            transition: transform 0.25s ease;
        }
    }
    &.style-open{
        .aboutv2-sectionfaq_elcross{
            .aboutv2-sectionfaq_elcrossline2{
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
        .aboutv2-sectionfaq_eltext{
            display: block;
        }
    }
}

.aboutv2-sectionjob_dropdownli{
    &.style-active{
        .aboutv2-sectionjob_checkbox{
            background-color: #2D4AB8;
        }
    }
}
