body, html, * {
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  /*
  &:after{
      content:'';
      height: 100%;
      width: 1200px;
      border: 1px solid red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
  }

  &:before{
      content:'';
      height: 100%;
      width: 1px;
      background-color: red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
  }*/
}
body:after {
  content: "";
  width: expression( document.body.clientWidth );
  width: 1px;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

iframe {
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 500px;
}

#lottie {
  position: absolute;
  z-index: 2;
  top: 1033.5px;
  right: 537px;
  width: 752px;
  height: 600px;
  /*
  &:before{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 1px;
      background-color: red;
  }
  &:after{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 100%;
      background-color: red;
  }*/
}

.home-bgline {
  position: absolute;
  height: 767px;
  width: 100vw;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-color: #3B61F4;
  /*
  &:before{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 1px;
      background-color: red;
  }
  &:after{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 100%;
      background-color: red;
  }*/
}
.home-bgline .home-bgline-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2560px;
  height: 2560px;
}
.home-bgline .home-bgline-bg .home-bgline-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(55deg) rotate(45deg);
  /*
  &:before{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 1px;
      background-color: red;
  }
  &:after{
      content:'';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 1px;
      width: 100%;
      background-color: red;
  }*/
}
.home-bgline .home-bgline-bg .home-bgline-containercol {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  perspective: 600px;
}
.home-bgline .home-bgline-bg .home-bgline-containercol .home-bgline-col {
  height: 100%;
  width: 1px;
}
.home-bgline .home-bgline-bg .home-bgline-containerrow {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  perspective: 600px;
}
.home-bgline .home-bgline-bg .home-bgline-containerrow .home-bgline-row {
  height: 1px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.home-bgline .home-bgline-bg .home-bgline-containercross {
  position: absolute;
  perspective: 400px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.home-bgline .home-bgline-bg .home-bgline-containercross .home-bgline-cross {
  height: 20px;
  width: 20px;
  position: absolute;
}
.home-bgline .home-bgline-bg .home-bgline-containercross .home-bgline-cross .home-bgline-line-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 4px;
  background-color: #6A86F2;
}
.home-bgline .home-bgline-bg .home-bgline-containercross .home-bgline-cross .home-bgline-line-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 100%;
  background-color: #6A86F2;
}

.home-bgline-row:nth-child(1):before {
  animation-delay: -4s;
  animation-duration: 6.1s;
}
.home-bgline-row:nth-child(2):before {
  animation-delay: -40s;
  animation-duration: 5.8s;
}
.home-bgline-row:nth-child(3):before {
  animation-delay: -52s;
  animation-duration: 7.6s;
}
.home-bgline-row:nth-child(4):before {
  animation-delay: -8s;
  animation-duration: 5.5s;
}
.home-bgline-row:nth-child(5):before {
  animation-delay: -36s;
  animation-duration: 4.3s;
}
.home-bgline-row:nth-child(6):before {
  animation-delay: -52s;
  animation-duration: 7.9s;
}
.home-bgline-row:nth-child(7):before {
  animation-delay: -64s;
  animation-duration: 4.3s;
}
.home-bgline-row:nth-child(8):before {
  animation-delay: -48s;
  animation-duration: 7.3s;
}
.home-bgline-row:nth-child(9):before {
  animation-delay: -20s;
  animation-duration: 11.2s;
}
.home-bgline-row:nth-child(10):before {
  animation-delay: -36s;
  animation-duration: 7s;
}
.home-bgline-row:nth-child(11):before {
  animation-delay: -52s;
  animation-duration: 7.6s;
}
.home-bgline-row:nth-child(12):before {
  animation-delay: -60s;
  animation-duration: 9.7s;
}
.home-bgline-row:nth-child(13):before {
  animation-delay: -60s;
  animation-duration: 6.1s;
}
.home-bgline-row:nth-child(14):before {
  animation-delay: -64s;
  animation-duration: 9.1s;
}
.home-bgline-row:nth-child(15):before {
  animation-delay: -56s;
  animation-duration: 5.5s;
}
.home-bgline-row:nth-child(16):before {
  animation-delay: -8s;
  animation-duration: 8.8s;
}
.home-bgline-row:nth-child(17):before {
  animation-delay: -68s;
  animation-duration: 9.1s;
}
.home-bgline-row:nth-child(18):before {
  animation-delay: -68s;
  animation-duration: 9.4s;
}
.home-bgline-row:nth-child(19):before {
  animation-delay: -36s;
  animation-duration: 4.3s;
}
.home-bgline-row:nth-child(20):before {
  animation-delay: -24s;
  animation-duration: 6.4s;
}
.home-bgline-row:nth-child(21):before {
  animation-delay: -12s;
  animation-duration: 10.9s;
}
.home-bgline-row:nth-child(22):before {
  animation-delay: -76s;
  animation-duration: 6.4s;
}
.home-bgline-row:nth-child(23):before {
  animation-delay: -76s;
  animation-duration: 4.3s;
}
.home-bgline-row:nth-child(24):before {
  animation-delay: -28s;
  animation-duration: 8.2s;
}
.home-bgline-row:nth-child(odd):before {
  animation-iteration-count: infinite;
}
.home-bgline-row:nth-child(4n+1):before {
  animation-iteration-count: 0;
}
.home-bgline-row:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 10%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  transform: translateX(-100%);
  opacity: 0;
  animation-name: bghero;
  animation-timing-function: linear;
}
@keyframes bghero {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(1000%);
  }
}

.home-bgline-col,
.home-bgline-row {
  transition: all 5s cubic-bezier(0, 0.975, 0.265, 1);
}

.home-bgline-col {
  transform-origin: bottom;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-bgline-col:nth-child(1) {
  transition-delay: 0.15s;
}
.home-bgline-col:nth-child(2) {
  transition-delay: 0.3s;
}
.home-bgline-col:nth-child(3) {
  transition-delay: 0.45s;
}
.home-bgline-col:nth-child(4) {
  transition-delay: 0.6s;
}
.home-bgline-col:nth-child(5) {
  transition-delay: 0.75s;
}
.home-bgline-col:nth-child(6) {
  transition-delay: 0.9s;
}
.home-bgline-col:nth-child(7) {
  transition-delay: 1.05s;
}
.home-bgline-col:nth-child(8) {
  transition-delay: 1.2s;
}
.home-bgline-col:nth-child(9) {
  transition-delay: 1.35s;
}
.home-bgline-col:nth-child(10) {
  transition-delay: 1.5s;
}
.home-bgline-col:nth-child(11) {
  transition-delay: 1.65s;
}
.home-bgline-col:nth-child(12) {
  transition-delay: 1.8s;
}
.home-bgline-col:nth-child(13) {
  transition-delay: 1.95s;
}
.home-bgline-col:nth-child(14) {
  transition-delay: 2.1s;
}
.home-bgline-col:nth-child(15) {
  transition-delay: 2.25s;
}
.home-bgline-col:nth-child(16) {
  transition-delay: 2.4s;
}
.home-bgline-col:nth-child(17) {
  transition-delay: 2.55s;
}
.home-bgline-col:nth-child(18) {
  transition-delay: 2.7s;
}
.home-bgline-col:nth-child(19) {
  transition-delay: 2.85s;
}
.home-bgline-col:nth-child(20) {
  transition-delay: 3s;
}
.home-bgline-col:nth-child(21) {
  transition-delay: 3.15s;
}
.home-bgline-col:nth-child(22) {
  transition-delay: 3.3s;
}
.home-bgline-col:nth-child(23) {
  transition-delay: 3.45s;
}
.home-bgline-col:nth-child(24) {
  transition-delay: 3.6s;
}

.home-bgline-row {
  transform-origin: left;
  background-color: rgba(255, 255, 255, 0.1);
}
.home-bgline-row:nth-child(1) {
  transition-delay: 3.6s;
}
.home-bgline-row:nth-child(2) {
  transition-delay: 3.45s;
}
.home-bgline-row:nth-child(3) {
  transition-delay: 3.3s;
}
.home-bgline-row:nth-child(4) {
  transition-delay: 3.15s;
}
.home-bgline-row:nth-child(5) {
  transition-delay: 3s;
}
.home-bgline-row:nth-child(6) {
  transition-delay: 2.85s;
}
.home-bgline-row:nth-child(7) {
  transition-delay: 2.7s;
}
.home-bgline-row:nth-child(8) {
  transition-delay: 2.55s;
}
.home-bgline-row:nth-child(9) {
  transition-delay: 2.4s;
}
.home-bgline-row:nth-child(10) {
  transition-delay: 2.25s;
}
.home-bgline-row:nth-child(11) {
  transition-delay: 2.1s;
}
.home-bgline-row:nth-child(12) {
  transition-delay: 1.95s;
}
.home-bgline-row:nth-child(13) {
  transition-delay: 1.8s;
}
.home-bgline-row:nth-child(14) {
  transition-delay: 1.65s;
}
.home-bgline-row:nth-child(15) {
  transition-delay: 1.5s;
}
.home-bgline-row:nth-child(16) {
  transition-delay: 1.35s;
}
.home-bgline-row:nth-child(17) {
  transition-delay: 1.2s;
}
.home-bgline-row:nth-child(18) {
  transition-delay: 1.05s;
}
.home-bgline-row:nth-child(19) {
  transition-delay: 0.9s;
}
.home-bgline-row:nth-child(20) {
  transition-delay: 0.75s;
}
.home-bgline-row:nth-child(21) {
  transition-delay: 0.6s;
}
.home-bgline-row:nth-child(22) {
  transition-delay: 0.45s;
}
.home-bgline-row:nth-child(23) {
  transition-delay: 0.3s;
}
.home-bgline-row:nth-child(24) {
  transition-delay: 0.15s;
}

.home-bgline-cross {
  transition: all 2s cubic-bezier(0.255, 0.005, 0.035, 1.005);
  transform: rotate(90deg) scale(0);
}
.home-bgline-cross:nth-child(1) {
  right: 1503.2272727273px;
  top: 921.4090909091px;
}
.home-bgline-cross:nth-child(2) {
  right: 1154.1363636364px;
  top: 1270.5px;
}
.home-bgline-cross:nth-child(3) {
  right: 805.0454545455px;
  top: 1619.5909090909px;
}
.home-bgline-cross:nth-child(4) {
  right: 1270.5px;
  top: 688.6818181818px;
}
.home-bgline-cross:nth-child(5) {
  right: 1037.7727272727px;
  top: 455.9545454545px;
}
.home-bgline-cross:nth-child(6) {
  right: 688.6818181818px;
  top: 805.0454545455px;
}
.home-bgline-cross:nth-child(7) {
  right: 339.5909090909px;
  top: 1154.1363636364px;
}
.home-bgline-cross:nth-child(1) {
  transition-delay: 0.07s;
}
.home-bgline-cross:nth-child(2) {
  transition-delay: 0.14s;
}
.home-bgline-cross:nth-child(3) {
  transition-delay: 0.21s;
}
.home-bgline-cross:nth-child(4) {
  transition-delay: 0.28s;
}
.home-bgline-cross:nth-child(5) {
  transition-delay: 0.35s;
}
.home-bgline-cross:nth-child(6) {
  transition-delay: 0.42s;
}
.home-bgline-cross:nth-child(7) {
  transition-delay: 0.49s;
}
.home-bgline-cross:nth-child(8) {
  transition-delay: 0.56s;
}
.home-bgline-cross:nth-child(9) {
  transition-delay: 0.63s;
}
.home-bgline-cross:nth-child(10) {
  transition-delay: 0.7s;
}
.home-bgline-cross:nth-child(11) {
  transition-delay: 0.77s;
}
.home-bgline-cross:nth-child(12) {
  transition-delay: 0.84s;
}
.home-bgline-cross:nth-child(13) {
  transition-delay: 0.91s;
}
.home-bgline-cross:nth-child(14) {
  transition-delay: 0.98s;
}
.home-bgline-cross:nth-child(15) {
  transition-delay: 1.05s;
}
.home-bgline-cross:nth-child(16) {
  transition-delay: 1.12s;
}
.home-bgline-cross:nth-child(17) {
  transition-delay: 1.19s;
}
.home-bgline-cross:nth-child(18) {
  transition-delay: 1.26s;
}
.home-bgline-cross:nth-child(19) {
  transition-delay: 1.33s;
}
.home-bgline-cross:nth-child(20) {
  transition-delay: 1.4s;
}
.home-bgline-cross:nth-child(21) {
  transition-delay: 1.47s;
}
.home-bgline-cross:nth-child(22) {
  transition-delay: 1.54s;
}
.home-bgline-cross:nth-child(23) {
  transition-delay: 1.61s;
}
.home-bgline-cross:nth-child(24) {
  transition-delay: 1.68s;
}

.home-bgline.style-ready .home-bgline-col {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scaleY(1) translateZ(0px);
}
.home-bgline.style-ready .home-bgline-row {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scaleX(1) translateZ(0px);
}
.home-bgline.style-ready .home-bgline-row:before {
  opacity: 1;
}
.home-bgline.style-ready .home-bgline-cross {
  transform: rotate(0deg) scale(1);
}
